@{
    ViewData["Title"] = "Multi Tenant App";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @ViewBag.TenantName
    <p>Environment: @ViewBag.EnvironmentName</h1>
    <p>Tier: @ViewBag.Tier</p>
    <p>Application Version: 004</p>
</div>
