@{
    ViewData["Title"] = "Multi Tenant App";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @ViewBag.TenantName tenant in environment @ViewBag.EnvironmentName</h1>
    <p>You are currently under Tier: @ViewBag.Tier</p>
</div>
